[user]
	email = paho.luriegregg@outreach.io
	name = Paho Lurie-Gregg
  signingkey = 78ED9FC9C9EA50DD

[push]
	default = current

[commit]
    gpgSign = true

[gpg]
	program = gpg2

[rebase]
	autosquash = true
