[user]
	email = paho.luriegregg@outreach.io
	name = Paho Lurie-Gregg
  signingkey = 78ED9FC9C9EA50DD

[push]
	default = current

[commit]

[gpg]
	program = gpg2

[rebase]
	autosquash = true

[pager]
  log = diffr --colors added:none:foreground:green --colors refine-added:none:foreground:0xaa,0xff,0xaa --colors removed:none:foreground:red --colors refine-removed:none:foreground:0xff,0xaa,0xaa | less -R
  show = diffr --colors added:none:foreground:green --colors refine-added:none:foreground:0xaa,0xff,0xaa --colors removed:none:foreground:red --colors refine-removed:none:foreground:0xff,0xaa,0xaa | less -R
  diff = diffr --colors added:none:foreground:green --colors refine-added:none:foreground:0xaa,0xff,0xaa --colors removed:none:foreground:red --colors refine-removed:none:foreground:0xff,0xaa,0xaa | less -R

[color "diff-highlight"]
  oldNormal = "red"
  oldHighlight = "#ffaaaa"
  newNormal = "green"
  newHighlight = "#aaffaa"
