#!/usr/bin/env bash

monitor_switch default &

fixkb &

# Load resources
xrdb -merge .Xresources &

# Set cursor
xsetroot -cursor_name left_ptr

# startup programs
background 150 &

# ------------------------------------------------------------------------------

if [ -z "$(pidof -s emacs)" ]; then
   emacs --daemon &> /dev/null &
fi

if [ -z "$(pidof -s redshift)" ]; then
    redshift -t 5000K:3300K &> /dev/null &
fi
