#!/usr/bin/env bash

monitor 1 &

fixkb &

# startup programs
background 300 &

# ------------------------------------------------------------------------------

if [ -z "$(pidof -s emacs)" ]; then
   emacs --daemon &> /dev/null &
fi

if [ -z "$(pidof -s redshift)" ]; then
    redshift -t 5000K:3300K &> /dev/null &
fi
