input {
    keyboard {
        xkb {
            layout ""
            model ""
            rules ""
            variant ""
        }
        repeat-delay 200
        repeat-rate 50
        track-layout "global"
    }
    touchpad {
        tap
        dwt
        natural-scroll
        accel-speed 0.000000
        click-method "clickfinger"
    }
    mouse { accel-speed 0.000000; }
    trackpoint { accel-speed 0.000000; }
    trackball { accel-speed 0.000000; }
    tablet
    touch
    focus-follows-mouse
}
output "DP-3" {
    scale 1
    transform "normal"
    position x=1880 y=0
}
output "eDP-1" {
    scale 1.200000
    transform "normal"
    position x=0 y=0
}
screenshot-path "~/screenshots/%F_%H.%M.%S.png"
layout {
    gaps 10
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.3333333
        proportion 0.5
        proportion 0.6666667
    }
    default-column-width { }
    focus-ring {
        width 4
        active-color "rgb(127 200 255)"
        inactive-color "rgb(80 80 80)"
    }
    border { off; }
    tab-indicator { off; }
    insert-hint { color "rgb(127 200 255 / 50%)"; }
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}
window-rule {
    match app-id="Zoom Workplace"
    exclude title="Zoom - Free Account"
    exclude title="Zoom - Licensed Account"
    exclude title="Zoom Meeting"
    exclude title="Meeting"

    open-floating true
}
cursor {
    xcursor-theme "default"
    xcursor-size 14
}
hotkey-overlay
environment { "NIXOS_OZONE_WL" "1"; }
binds {
    Alt+Print { screenshot-window; }
    Ctrl+Print { screenshot-screen; }
    Print { screenshot; }
    Super+Alt+Q { quit; }
    Super+F { spawn "firefox"; }
    Super+BracketLeft { consume-or-expel-window-left; }
    Super+BracketRight { consume-or-expel-window-right; }
    Super+C { center-column; }
    Super+Comma { consume-window-into-column; }
    Super+Ctrl+H { move-column-left; }
    Super+Ctrl+I { move-column-to-workspace-up; }
    Super+Ctrl+J { move-window-down; }
    Super+Ctrl+K { move-window-up; }
    Super+Ctrl+L { move-column-right; }
    Super+Ctrl+N { spawn "locker"; }
    Super+Ctrl+Q { close-window; }
    Super+Ctrl+U { move-column-to-workspace-down; }
    Super+Equal { set-column-width "+10%"; }
    Super+Space { maximize-column; }
    Super+H { focus-column-left; }
    Super+I { focus-workspace-up; }
    Super+J { focus-window-down; }
    Super+K { focus-window-up; }
    Super+L { focus-column-right; }
    Super+Minus { set-column-width "-10%"; }
    Super+Period { expel-window-from-column; }
    Super+R { spawn "fuzzel"; }
    Super+Ctrl+R { spawn "/usr/bin/env" "bash" "-c" "notify-send \"$(niri msg focused-window)\""; }
    Super+Shift+Ctrl+H { move-column-to-monitor-left; }
    Super+Shift+Ctrl+J { move-column-to-monitor-down; }
    Super+Shift+Ctrl+K { move-column-to-monitor-up; }
    Super+Shift+Ctrl+L { move-column-to-monitor-right; }
    Super+Shift+Equal { set-window-height "+10%"; }
    Super+Shift+F { fullscreen-window; }
    Super+Shift+H { focus-monitor-left; }
    Super+Shift+J { focus-monitor-down; }
    Super+Shift+K { focus-monitor-up; }
    Super+Shift+L { focus-monitor-right; }
    Super+Shift+Minus { set-window-height "-10%"; }
    Super+Shift+Slash { show-hotkey-overlay; }
    Super+Shift+W { reset-window-height; }
    Super+T { spawn "alacritty"; }
    Super+U { focus-workspace-down; }
    Super+W { switch-preset-column-width; }
    Super+Z { toggle-window-floating; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
}
spawn-at-startup "systemctl" "--user" "restart" "waybar.service"
animations { slowdown 1.000000; }
