[Unit]
Description=Run transmission inside docker with openvpn
Requires=docker.service
After=docker.service

[Service]
User=paho
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/paho/dotfiles/box/torrent/
ExecStart=/usr/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
